/*General*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(52, 52, 52);
}


/*transition*/
a,.btn {
    transition: all 0.3s ease;
}




/*desktop nav */
nav, .nav-links {
    display: flex;

}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-underline-offset: 1rem;
}

a:hover {
    color: grey;
    text-decoration: underline;
}


